body {
        margin: 20px auto;
        max-width: 45em;
        line-height: 1.5rem;
        font-size: 1rem;
        color: #ffffff;
        background-color: #000000;
        padding: 0 10px;
        font-family: "Karla";
        text-rendering: optimizeLegibility;
        -webkit-hyphens: auto;
        -webkit-hyphenate-limit-before: 3;
        -webkit-hyphenate-limit-after: 3;
        -webkit-hyphenate-limit-chars: 6 3 3;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-last: always;
        -webkit-hyphenate-limit-zone: 8%;
        -moz-hyphens: auto;
        -moz-hyphenate-limit-chars: 6 3 3;
        -moz-hyphenate-limit-lines: 2;
        -moz-hyphenate-limit-last: always;
        -moz-hyphenate-limit-zone: 8%;
        -ms-hyphens: auto;
        -ms-hyphenate-limit-chars: 6 3 3;
        -ms-hyphenate-limit-lines: 2;
        -ms-hyphenate-limit-last: always;
        -ms-hyphenate-limit-zone: 8%;
        hyphens: auto;
        hyphenate-limit-chars: 6 3 3;
        hyphenate-limit-lines: 2;
        hyphenate-limit-last: always;
        hyphenate-limit-zone: 8%;
}

::selection {
	color: #00bfff;
	background: slategray;
}

h1, h2, h3 {
        line-height: 1.0;
        font-family: "Karla";
        font-weight: normal;
}

h1 {
        color: #dddddd;
        text-align: center;
        font-size: min(65px, 10vw);
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 30px;
        margin-top: 40px;
}

h1 a {
        text-decoration: none;
}

h1 a:hover {
	color: #0086b3;
}

.hljs {
        font-family: "Anonymous Pro";
        font-size: 1rem;
        color: #92282e;
        border-radius: 6px;
}

pre, code {
        font-family: "Anonymous Pro";
        color: #92282e;
        border-radius: 6px;
}

a[rel*="external"]::after {
        content: " "
        url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='external'%20viewBox='0%200%2032%2032'%20width='12'%20height='12'%20fill='none'%20stroke='%23708090'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");

}

.note {
        border: 1px solid #333333;
	font-family: "Anonymous Pro";
        font-size: 0.9rem;
        padding: 15px;
        margin-bottom: 15px;
}

.note-body {
	border-top: 1px solid #333333;
	padding-top: 10px;
}

.note:target {
        border: 1px solid #00bfff;
        padding: 15px;
        background: #0e0e0e;
}

.note h3 {
        margin-bottom: 10px;
}

.note p:first-child {
        margin-top: 3px;
}

.note p:last-child {
        margin-bottom: 3px;
}

a {
        text-decoration: none;
        color: #00bfff;
}

.note a:hover {
        text-decoration: none;
        color: #0086b3;
}

.note-date {
        font-family: "Anonymous Pro";
        font-size: 0.9rem;
}

.note-date a {
        color: #5e5e62;
}

.note-date a:hover {
        color: #00bfff;
}

audio {
        width: 100%;
}

img {
        width: 100%;
	border: 1px solid #000000;
        border-radius: 5px;
}

.footer {
        font-family: "Anonymous Pro";
        font-size: 0.9rem;
        margin-bottom: 40px;
        color: #5e5e62;
}

.footer a:hover {
	color: #0086b3;
}

hr {
        border: none;
        height: 1px;
        background-color: #333333;
}

section {
        background-color: #181818;
}

.right {
        float: right;
}

blockquote {
        color: slategray;
        padding-left: 1rem;
        margin-left: 0rem;
}

blockquote a:hover {
        color: #0086b3;
}

blockquote a {
        color: #00bfff;
}

.warning {
        background-color: #121212;
        border-left: 2px solid red;
        color: #00bfff;
        width: 90px;
}

@media only screen and (max-width: 600px) {
	.note {
                font-size: 0.9rem;
                line-height: 1.2rem;
	}
        
        .hljs {
                font-family: "Anonymous Pro";
                font-size: 0.95rem;
                color: #92282e;
                border-radius: 6px;
        }

        pre, code {
                font-family: "Anonymous Pro";
                color: #92282e;
                border-radius: 6px;
        }
}

.table {
	display: table;
	width: 100%;
   	padding-bottom: 10px;
}

.tr { 
	display: table-row;
}

.td1 { 
	display: table-cell;
        font-family: "Anonymous Pro";
        font-size: 0.9rem;
	color: #5d95a8;
	line-height: 1.3rem;
	width: 25%;
}

.td2 { 
	display: table-cell;
        font-family: "Anonymous Pro";
        font-size: 0.9rem;
	color: #5d95a8;
	line-height: 1.3rem;
}

.td2 a {
	color: #5e5e62;
}

.td2 a:hover {
        color: #00bfff;
}
