:root {
	--background-colour: #000000;
	--blue: #00bfff;
	--dark-orange: #ff8c00;
	--white: #ffffff;
	--h1-hover: #0086b3;
	--note-hover: #0086b3;
	--note-a: #5e5e62;
	--pre-color: #92282e;
	--font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
		
body {
	margin: 20px auto;
	max-width: 36em;
	line-height: 1.6rem;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--background-colour);
	padding: 0 15px;
	font-family: var(--font-body);
	text-rendering: optimizeLegibility;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

::selection {
	color: var(--blue);
	background: slategray;
}

h1, h2, h3 {
	line-height: 1.0;
	font-family: var(--font-body);
	font-weight: normal;
}

h1 {
	color: #dddddd;
	text-align: center;
	font-size: min(45px, 10vw);
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 40px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	color: var(--h1-hover);
}

pre, code {
	font-family: var(--font-mono);
	color: var(--pre-color);
	border-radius: 6px;
}


.note:not(:last-child) {
	font-size: 1rem;
	margin-bottom: 25px;
	border-bottom: 1px solid #333333;
	padding-bottom: 2rem;
}

.note:last-child {
	font-size: 1rem;
	margin-bottom: 25px;
	padding-bottom: 2rem;
}

.note-body {                
	padding-top: 10px;
}

.note:target {
        color:  var(--dark-orange);
}

.note p:first-child {
	margin-top: 3px;
}

.note p:last-child {
	margin-bottom: 3px;
}

a {
	text-decoration: none;
	color: var(--blue);
}

.note a:hover {
	text-decoration: none;
	color: var(--note-hover);
}

.note-date {
	font-family: var(--font-mono);
	font-size: 1rem;
}

.note-date a {
	color: var(--note-a);
}

.note-date a:hover {
	color: var(--blue);
}

img {
	width: 100%;
	border: 1px solid #000000;
}

.footer {
	font-family: var(--font-body);
	font-size: 0.9rem;
	margin-bottom: 40px;
	color: #5e5e62;
}

.footer a:hover {
	color: #0086b3;
}

hr {
	border: none;
	height: 1px;
	background-color: #333333;
}

blockquote {
	color: slategray;
	padding-left: 1rem;
	margin-left: 0rem;
}

blockquote a:hover {
	color: #0086b3;
}

blockquote a {
	color: #00bfff;
}

@media only screen and (max-width: 600px) {
	.note {
		font-size: 0.9rem;
		line-height: 1.4rem;
	}
	pre, code {
		color: #92282e;
		border-radius: 6px;
	}
}
