:root {
	--blue: #00bfff;
	--white: #ffffff;
        --h1-hover: #0086b3;
        --note-hover: #0086b3;
        --note-a: #5e5e62;
        --pre-color: #92282e;
        --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
		
body {
	margin: 20px auto;
	max-width: 36em;
	line-height: 1.5rem;
	font-size: 1rem;
	color: var(--white);
	background-color: #000000;
	padding: 0 10px;
	font-family: var(--font-body);
	text-rendering: optimizeLegibility;
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
	-moz-hyphens: auto;
	-moz-hyphenate-limit-chars: 6 3 3;
	-moz-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-last: always;
	-moz-hyphenate-limit-zone: 8%;
	-ms-hyphens: auto;
	-ms-hyphenate-limit-chars: 6 3 3;
	-ms-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-last: always;
	-ms-hyphenate-limit-zone: 8%;
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

::selection {
	color: var(--blue);
	background: slategray;
}

h1, h2, h3 {
	line-height: 1.0;
	font-family: var(--font-body);
	font-weight: normal;
}

h1 {
	color: #dddddd;
	text-align: center;
	font-size: min(45px, 10vw);
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 40px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	color: var(--h1-hover);
}

pre, code {
	font-family: monospace;
	color: var(--pre-color);
	border-radius: 6px;
}

a[rel*="external"]::after {
	content: " "
	url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='external'%20viewBox='0%200%2032%2032'%20width='12'%20height='12'%20fill='none'%20stroke='%23708090'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

.note {
        font-family: var(--font-body);
	font-size: 1rem;
	margin-bottom: 25px;
}

.note-body {                
	padding-top: 10px;
}

.note:target {
        color:  var(--blue);
}

.note p:first-child {
	margin-top: 3px;
}

.note p:last-child {
	margin-bottom: 3px;
}

a {
	text-decoration: none;
	color: var(--blue);
}

.note a:hover {
	text-decoration: none;
	color: var(--note-hover);
}

.note-date {
	font-family: var(--font-body);
        font-weight: bold;
}

.note-date a {
	color: var(--note-a);
}

.note-date a:hover {
	color: var(--blue);
}

img {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 5px;
}

.footer {
	font-family: var(--font-body);
	font-size: 0.9rem;
	margin-bottom: 40px;
	color: #5e5e62;
}

.footer a:hover {
	color: #0086b3;
}

hr {
	border: none;
	height: 1px;
	background-color: #333333;
}

blockquote {
	color: slategray;
	padding-left: 1rem;
	margin-left: 0rem;
}

blockquote a:hover {
	color: #0086b3;
}

blockquote a {
	color: #00bfff;
}

@media only screen and (max-width: 600px) {
        body {
                padding: 0 10px 0 10px;
        }
	.note {
		font-size: 0.9rem;
		line-height: 1.4rem;
	}
	pre, code {
		color: #92282e;
		border-radius: 6px;
	}
}