:root {
	--background-colour: #ffffff;
	--blue: #00bfff;
	--text-target: #008fb3;
	--circle-text-colour: #008fb3;
	--background-target: #dedede;
	--default-text: #000000;
	--h1-hover: #0086b3;
	--note-hover: #0086b3;
	--note-a: #5e5e62;
	--pre-colour: #000000;
	--header-description-colour: #5e5e62;
	--header-description-size: 0.9rem;
	--hr-background-colour: #cfcfcf;
	--pre-background-colour: #f5f5f4;
	--blockquote-background-colour: #f5f5f4;
	--blockquote-text-colour: #000000;
	--font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-colour: #1d1d1d;
		--blue: #00bfff;
		--text-target: #008fb3;
		--background-target: #000000;
		--default-text: #e8e8e8;
		--h1-hover: #0086b3;
		--note-hover: #0086b3;
		--note-a: #828282;
		--pre-colour: #e8e8e8;
		--hr-background-colour: #535353;
		--pre-background-colour: #141414;
		--blockquote-background-colour: #141414;
		--blockquote-text-colour: #e8e8e8;
	}
}

body {
	margin: 20px auto;
	max-width: 37em;
	line-height: 1.6rem;
	font-size: 1rem;
	color: var(--default-text);
	background-color: var(--background-colour);
	padding: 0 15px;
	font-family: var(--font-body);
	text-rendering: optimizeLegibility;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.description {
	color: var(--header-description-colour);
	font-size: var(--header-description-size);
	margin-bottom: 30px;
	letter-spacing: 1px;
}

::selection {
	color: var(--blue);
	background: slategray;
}

h1, h2, h3 {
	line-height: 1.0;
	font-family: var(--font-body);
	font-weight: normal;
}

h1 {
	color: #dddddd;
	font-size: min(40px, 10vw);
	font-weight: bold;
	letter-spacing: 3px;
	margin-bottom: 0;
	margin-top: 40px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	color: var(--h1-hover);
}

pre, code {
	font-family: var(--font-mono);
	color: var(--pre-colour);
	font-size: 0.9rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	line-height: 20px;
	background: var(--pre-background-colour);
	padding: 4px 5px 4px 5px;
}

.note:not(:last-child) {
	font-size: 1rem;
	border-bottom: 1px solid var(--hr-background-colour);
	padding: 1rem 0 1rem 0;
}

.note:last-child {
	font-size: 1rem;
	padding: 1rem 0 1rem 0;
}

.note-body {                
	padding-top: 10px;
}

.note .targeted {
	display: none;
}

.targeted {
 	color: var(--circle-text-colour);
 	margin: 0 0.5em 0 0;
 	display: inline;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

.note:target .targeted {
	display: inline;
}

.note p:first-child {
	margin-top: 3px;
}

.note p:last-child {
	margin-bottom: 3px;
}

a {
	color: var(--blue);
}

.note a:hover {
	color: var(--note-hover);
}

.note-date {
	font-family: var(--font-mono);
	font-size: 0.8rem;
}

.note-date a {
	text-decoration: none;
	color: var(--note-a);
}

.note-date a:hover {
	color: var(--note-a);
}

img {
	width: 100%;
	border: 1px solid #000000;
}

.footer {
	font-family: var(--font-body);
	font-size: 0.9rem;
	margin-bottom: 40px;
	color: #5e5e62;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	color: #0086b3;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--hr-background-colour);
}

blockquote {
	color: var(--blockquote-text-colour);
	padding: 1rem;
	margin: 0rem;
	background-color: var(--blockquote-background-colour);
}

blockquote a:hover {
	color: #0086b3;
}

blockquote a {
	color: #00bfff;
}

@media only screen and (max-width: 600px) {
	.note {
		font-size: 0.9rem;
		line-height: 1.5rem;
	}
}
